- var title = 'Home';
include pug/head.pug
body.container.text-center.bg-gray
  if user
    h1 Welcome, #{user.username}! Please visit your 
      a(href='/profile') profile
      | .
  else
    h1 Welcome!
    p This is a sample app that demonstrates authentication locally and for GitHub.
    .col
      a.button.full.bg-black(href='/login/github')
        i.fa.fa-github.fa-fw
        |  Log in with GitHub
      include modal/login
      .line.relative
        span.line-text or
      include modal/sign-up
  script(src="/index.js")